[submodule "TFTP-hass-addons"]
	path = TFTP-hass-addons
	url = https://github.com/Gamalta/TFTP-hass-addons
[submodule "Matomo-hass-addons"]
	path = Matomo-hass-addons
	url = https://github.com/Gamalta/Matomo-hass-addons
[submodule "Teamspeak-hass-addons"]
	path = Teamspeak-hass-addons
	url = https://github.com/Gamalta/Teasmpeak-hass-addons